<h1 class="is-size-2 has-text-centered">Available coders</h1>
  <div class="hero-body">
    <div class="container has-text-centered">  
        <% @users.each do |user| %>
            <div>
                <br>
                <%=button_to user.email, new_room_path(user.id), method: :post, :class => 'button is-link is-inverted'%>
            </div>
        <% end %>
      <br>
    </div>
  </div>




















