<h1>heeey</h1>

<%= link_to 'log out', destroy_user_session_url, method: :delete %>

<br>
<br>
<br>

<% @users.each do |user| %>
    <div>
        <%= user.email %>
        
        <%= link_to 'Show', coder_path(user) %> 
    </div>
<% end %>

