<section class="hero-body has-text-black">
  <div class="container">
    <div hidden id='cool'><%=@user.id%></div>
      <div class="box" id="chatbox">
        <div id="messages">
          <%= render @messages %>
        </div> 
      </div>
    <div class="field">
      <div class="control">
        <input id='chatText' onchange="refreshChat" class="input is-primary" type="text" placeholder="say something:" data-behavior="room_speaker">
      </div>
    </div>
    <button id='vidchatButton' class='button'>Go to VideoChat!</button>

    <script>
      var room_id;
      function getAllUrlParams(url) {
        // get query string from url (optional) or window
        let arr = url.split('/');
        room_id = arr[arr.length - 1];
      }
      getAllUrlParams(window.location.href);

      document.getElementById('vidchatButton').addEventListener('click', function() {
        let url = 'https://codecam.herokuapp.com/' + room_id;
        window.open(url);
      });
    </script>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
    </div>
</section>
