.centerall {
    justify-content: center;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    }

.fullwidth {
    width: 100% !important;
}

#chatbox {
    overflow-y: auto;
    height: 60vh;
}

#vidchatButton {
    margin: 0 auto;
    float: right;
}
// .loginbutton {
//     margin: 0 auto;
// }